{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Success </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>


<body>

    <h1>Homepage</h1>
    <hr />

    <div class="solid"> 
        <center>
            <strong>
                <a href="{% url '' %}">Home</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'bor' %}">Create a profile</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'std' %}">Book</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'search' %}">Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'chin-get' %}">Check In</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'borsearch' %}">Borrower Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'loansearch' %}">Loan Search</a> &nbsp; &nbsp; &nbsp;
            </strong>
        </center>
    </div>

    <hr />

<div class="row">
    <div class="column left background" style="background-color:darkgrey;"> </div>  


    <div class="column middle">
       <center>
            <h2>Entry with given Phone or SSN already exists!</h2>
            <p> Links to homepage and more above!</p>
        </center>
    </div>

    <div class="column right background" style="background-color: darkgrey"> </div>

</div>

<hr />
	<footer>Made By: Bridgette Bryant, Nicholas Vitale, Paul Percifield, and Roland Chaumont</footer>

</body>

</html>