{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Borrower </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>


<body>

    <h1>Create a User</h1>
    <hr />

    <div class="solid"> 
        <center>
            <strong>
                <a href="{% url '' %}">Home</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'bor' %}">Create a profile</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'std' %}">Book</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'search' %}">Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'chin-get' %}">Check In</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'borsearch' %}">Borrower Search</a> &nbsp; &nbsp; &nbsp;
            </strong>
        </center>
    </div>

    <hr />

<div class="row">
    <div class="column left background" style="background-color:darkgrey;"> </div>  


    <div class="column middle">
        <center>
            <form method="post" action="/bor/">
                {% csrf_token %} 
                <br>
 
                    <div>
                        <label></label>
                        <div>
                            <h3>Enter Details</h3>
                        </div>
                    </div>
        
                    <div >
                        {{ form.Ssn.errors }}
                        <label >SSN:</label>
                            <div>
                                {{ form.Ssn }}
                            </div>
                    </div>
         
                    <div>
                        {{ form.Name.errors }}
                        <label>Name:</label>
                            <div>
                                {{ form.Name }}
                            </div>
                    </div>

                    <div>
                        {{ form.Address.errors }}
                        <label>Address:</label>
                            <div>
                                {{ form.Address }}
                            </div>
                    </div>

                    <div>
                        {{ form.Phone.errors }}
                        <label>Phone:</label>
                            <div>
                                {{ form.Phone }}
                            </div>
                    </div>

                    <div>
                        <label ></label>
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                    </div>
                </form>
        </center>
    </div>

    <div class="column right background" style="background-color: darkgrey"> </div>

</div>

<hr />
	<footer>Made By: Bridgette Bryant, Nicholas Vitale, Paul Percifield, and Roland Chaumont</footer>

</body>

</html>