{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Check In </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>


<body>

    <h1>Check In</h1>

    <hr />

    <div class="solid"> 
        <center>
            <strong>
                <a href="{% url '' %}">Home</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'bor' %}">Add New Borrower</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'std' %}">Add New Book</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'search' %}">Book Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'chin-get' %}">Check In Book</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'borsearch' %}">Borrower Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'loansearch' %}">Loan Search</a> &nbsp; &nbsp; &nbsp;
            </strong>
        </center>
    </div>

    <hr />

<div class="row">
    <div class="column left background" style="background-color:darkgrey;"> </div>  


    <div class="column middle">
        <center>
            <form method="POST" action="">
                {% csrf_token %} 
                <br>
 
                    <div>
                        <label></label>
                        <div>
                            <h3>Enter the Card ID and ISBN Associated with the Book being checked in:</h3>
                        </div>
                    </div>

                    <div>
                        <label>ISBN:</label>
                            <div>
                               <input type="isbn" placeholder="ISBN..." name="isbn" type="text">
                            </div>
                    </div>

                    <div>
                        <label>Card ID:</label>
                            <div>
                               <input type="cardid" placeholder="Card ID..." name="cardid" type="text">
                            </div>
                    </div>

                    <div>
                        <label ></label>
                            <div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                    </div>
                </form>

                <br />
                {% if loanExist == 0 %}
                <h4>There is no current loan associated with the given Card ID and ISBN </h4>
                <br />

                {% endif %}

        </center>
    </div>

    <div class="column right background" style="background-color: darkgrey"> </div>

</div>

<hr />
	<footer>Made By: Bridgette Bryant, Nicholas Vitale, Paul Percifield, and Roland Chaumont</footer>

</body>

</html>