{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Edit Borrower </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>




<body>
    
    <h1>{{borrower.Card_id.Card_id}}</h1>

    <hr />

    <div class="solid"> 
        <center>
            <strong>
                <a href="{% url '' %}">Home</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'bor' %}">Create a profile</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'std' %}">Book</a> &nbsp; &nbsp; &nbsp;
                <a href="/search/">Search</a> &nbsp; &nbsp; &nbsp;
            </strong>
        </center>
    </div>

    <hr />

<div class="row">
    <div class="column left background" style="background-color:darkgrey;"> </div>  


    <div class="column middle">
        <center>
            

            <h3> Current Card ID: {{ borrower.Card_id }} </h3>    

            <h4> Current Name: {{borrower.Name}} </h4>

            <div>
                <div>       
                    <input type="new_name" placeholder="New Name..." name="new_Name" type="text">
                    
                </div>
            </div>


        </form>

            <h4> Current Phone: {{borrower.Phone}}</h4>

            <div>
                <div>       
                    <input type="new_phone" placeholder="New Phone..." name="new_Phone" type="text">
                    
                </div>
            </div>

        </form>

            <h4>SSN: {{borrower.Ssn}}</h4>
           
            <div>
                <div>       
                    <input type="new_ssn" placeholder=" New SSN..." name="new_Ssn" type="text">
                    
                </div>
            </div>


        </form>

            <h4>Address: {{borrower.Address}}</h4>

            <label>New Address:</label>
            <div>
                <div>       
                    <input type="new_address" placeholder="Address..." name="new_Address" type="text">
                    
                </div>
            </div>

            <div>
                <label ></label>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
            </div>

        </form>
            <br />


                
                <br />
                {% if borLoanCount < 1 %}
                <h4>You must enter a valid Loan ID </h4>
                <br />


                {% elif borLoanCount >= 3 %}
                <h4>You cannot have more than 3 books out at a time </h4>
                <br />
                
                {% endif %}

        
            <br />
            <a href="{% url 'show-borrower' borrower.Card_id %}">Click Here to Exit</a>
            <br />
            <br />
            



        </center>
           
            
        
    </div>

    <div class="column right background" style="background-color: darkgrey"> </div>

</div>

<hr />
	

</body>



<footer>Made By: Bridgette Bryant, Nicholas Vitale, Paul Percifield, and Roland Chaumont</footer>
</html>