{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Check Out </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>


<body>

    <h1>Checkin</h1>
    <hr />

    <div class="solid"> 
        <center>
            <strong>
                <a href="{% url '' %}">Home</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'bor' %}">Create a profile</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'std' %}">Book</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'search' %}">Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'chin-get' %}">Check In</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'borsearch' %}">Borrower Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'loansearch' %}">Loan Search</a> &nbsp; &nbsp; &nbsp;
            </strong>
        </center>
    </div>

    <hr />

<div class="row">
    <div class="column left background" style="background-color:darkgrey;"> </div>  


    <div class="column middle">
        <center>
       
                <h3> Fine paid successfully for:</h3>
                <br />
                <h3> Loan ID: {{ fine.Loan_id.Loan_id }}</h3>
                <br />
                <h3> Name: {{ fine.Loan_id.Card_id.Name }}</h3>
                <br />
                <h3> Card ID: {{ fine.Loan_id.Card_id.Name }} </h3>
                <br />

                <h3> Title: {{ fine.Loan_id.Isbn.Title }}</h3>
                <br />
                <h3> ISBN: {{ fine.Loan_id.Isbn.Isbn }}</h3>
                <br />
                
            

        </center>
    </div>

    <div class="column right background" style="background-color: darkgrey"> </div>

</div>

<hr />
	<footer>Made By: Bridgette Bryant, Nicholas Vitale, Paul Percifield, and Roland Chaumont</footer>

</body>

</html>