{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> View Borrower </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>




<body>
    
    <h1>{{borrower.Card_id.Card_id}}</h1>

    <hr />

    <div class="solid"> 
        <center>
            <strong>
                <a href="{% url '' %}">Home</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'bor' %}">Create a profile</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'std' %}">Book</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'search' %}">Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'chin-get' %}">Check In</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'borsearch' %}">Borrower Search</a> &nbsp; &nbsp; &nbsp;
                <a href="{% url 'loansearch' %}">Loan Search</a> &nbsp; &nbsp; &nbsp;
            </strong>
        </center>
    </div>

    <hr />

<div class="row">
    <div class="column left background" style="background-color:darkgrey;"> </div>  


    <div class="column middle">
        <center>
            

            <h3>Loan ID: {{ borLoan.Loan_id }} </h3>
            <h4>Checkout Date: {{borLoan.Date_out}}</h4>
            <h4>Due_Date: {{borLoan.Due_Date}}</h4>
            <br />
            <h3>Borrower:</h3>
            <h4>Card ID: {{borrower.Card_id}} </h4>
            <h4>Name: {{borrower.Name}}</h4>
            <br />
            <h3>Check In and Fine:</h3>

            {% if borLoan.Date_in == None %}
                <h4>Book not checked in yet.</h4>
                <a href="{% url 'chin-page' borLoan.Isbn.Isbn borrower.Card_id %}">Click Here to Check in the book</a>
                <h4>Current Fine Amount: {{borFine.Fine_amt}}</h4>
                <br />
                <br />

            {% elif borFine.Paid == False %}
                <h4>Book Checked In: {{borLoan.Date_in}}</h4>
                <h4>Fine Amount Due: {{borFine.Fine_amt}}</h4>
                <a href="{% url 'pay-fine' borLoan.Loan_id %}">Click Here to pay the fine</a>
                <br />
                <br />
            {% elif borFine.Paid == True %}
                <h4>Book Checked In: {{borLoan.Date_in}}</h4>
                <h4>Fine Paid: {{borFine.Fine_amt}}</h4>
                <br />
                <br />
            {% endif %}
    
            <br />
            <br />
            



            <footer>Made By: Bridgette Bryant, Nicholas Vitale, Paul Percifield, and Roland Chaumont</footer>
        </center>
           
            
        
    </div>

    <div class="column right background" style="background-color: darkgrey"> </div>

</div>

<hr />
	

</body>




</html>